# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist

# Tauri
apps/frontend/src-tauri/target/
apps/frontend/src-tauri/gen/
apps/frontend/public/@powersync/


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem


apps/frontend/next-env.d.ts


# Supabase
.branches
.temp

# Worktrees
.worktrees

# dotenvx
.env.keys
.env.local
.env.development
.env.*.local

opencode.json
