# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
.next
out
.turbo

# Generated
generated

# Environment
.env
.env.*
!.env.example

# Misc
.DS_Store
*.log
coverage

# Ignored Components
apps/frontend/src/components/ui/**

# Tauri
apps/frontend/src-tauri/

pnpm-lock.yaml